[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
celery = "*"
django = "*"
django-heroku = "*"
scrapy = "*"
djangorestframework = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
