[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
autopep8 = "*"

[packages]
celery = "*"
django = "*"
django-heroku = "*"
scrapy = "*"
djangorestframework = "*"
gunicorn = "*"
django-filters = "*"
django-cors-headers = "*"
dj-database-url = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
