{% extends 'base.html' %}
{% load static %}


{% block title %} Что делает ТендерМонитор {% endblock title %}
{% block content %}

  <section id="showcase-workflow" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Описание сервиса TenderMonitor</h1>
          <p class="lead">Что искать и как  </p>
        </div>
      </div>
    </div>
  </section>

    <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">
              <i class="fas fa-home"></i> На главную</a>
          </li>
          <li class="breadcrumb-item active"> О сервисе</li>
        </ol>
      </nav>
    </div>
  </section>
<section id="about" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row">
        <div class="col">
          <h2>Добро пожаловать в ТендерМонитор</h2>
          <p class="lead">ТендерМонитор - простой и эффективный сервис для мониторинга и подбора информации о проведении тендеров и конкурсных закупок в Республике Беларусь. </p>

          <p class="lead">{% lorem how_many_paragraphs 3 %}</p>

        </div>
      </div>
    </div>
  </section>

{% endblock content %}
