{% extends "base.html" %}
{% load humanize %}
{% block title %}
Search
{% endblock title %}
{% block content %}

<!-- Showcase -->
<section id="showcase-inner">
  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 class="display-4 mb-4">Расширенный поиск тендеров и заявок</h1>

          <form action="{% url 'extended_search' %}">
            <div class="form-row">
              <div class="col">
                <div class="feature text-center">
                  <div class="btn-group mb-2" data-toggle="buttons" >
                    <label class="btn btn-outline-light ">
                    <input type="radio" name="state" value="0" autocomplete="off" checked> Актуальные </label>
                    <label class="btn btn-outline-light ">
                    <input type="radio" name="state" value="1" autocomplete="off"> Архивные </label>
                    <label class="btn btn-outline-light ">
                    <input type="radio" name="state" value="2" autocomplete="off"> Все </label>
                  </div>
                </div>

            <!-- Form Row 2 keyword & customer-->
            <div class="row">
              <div class="col">
                <div class="form-group text-left">
                  <label for="keyword_input">Поиск по предмету закупки</label>
                  <input type="text" id="keyword_input" class="form-control" placeholder="Например: вентиляция, сервер, бумага ..." name="keyword" value="{{values.keyword}}">
                </div>
              </div>
              <div class="col">
                <div class="form-group text-left">
                  <label for="customer_input">Поиск по наименованию заказчика</label>
                  <input type="text" id="customer_input" name="customer" class="form-control" placeholder="Наименование заказчика" value="{{values.customer}}">
                </div>
              </div>
            </div>

            <!-- Form Row 4 number -->
            <div class="form-group text-left">
              <label for="number_input">Поиск номеру </label>
              <input type="text" id="number_input" name="number" class="form-control" placeholder="" value="{{values.number}}">
            </div>

            <!-- Category choosing -->
            <!--
            - 1. АСУТП. Телемеханика. АСКУЭ. Диспетчеризация. Keyword - asutp
            - 2. Центры обработки данны, дата центры.  Keyword - data centre
            - 3. Компьютерные сети, сетевое оборудование. Телефония.  Keyword - lan
            - 4. Охранная сигнализация и пожарная сигнализация.  Keyword - security_alarm
            - 5. Компьютерное оборудование и программное обеспечение   Keyword - soft, hardware


            -->
            <p class="lead"> Экспериментальная функция - Подбор заявок по отраслям</p>
            <div class="row">
              <div class="col">

                <!-- 1 asutp -->
                <div class="form-check text-left">
                  <input  type="checkbox"
                          class="form-check-input"
                          name="asutp">
                  <label  class="form-check-label" for="lanCheck" >
                          1. АСУТП. Телемеханика. АСКУЭ. Диспетчеризация
                  </label>
                </div>

                <!-- 2 data_centre -->
                <div class="form-check text-left">
                  <input  type="checkbox"
                          class="form-check-input"
                          id="data_centreCheck"
                          name="data_centre">
                  <label  class="form-check-label"
                          for="data_centreCheck" >
                          2. Центры обработки данных, дата центры
                  </label>
                </div>

                <!-- 3 lan -->
                <div class="form-check text-left">
                  <input  type="checkbox"
                          class="form-check-input"
                          id="lanCheck" name="lan">
                  <label  class="form-check-label"
                          for="lanCheck" >
                          3. Компьютерные сети, сетевое оборудование. Телефония
                  </label>
                </div>
              </div>

              <div class="col">
                <!-- 4 security_alarm -->
                <div class="form-check text-left">
                  <input  type="checkbox"
                          class="form-check-input"
                          id="security_alarmCheck" name="security_alarm">
                  <label  class="form-check-label"
                          for="security_alarmCheck" >
                          4. Охранная сигнализация и пожарная сигнализация
                  </label>
                </div>

                <!-- 5 hard_soft -->
                <div class="form-check text-left">
                  <input  type="checkbox"
                          class="form-check-input"
                          id="soft_hardwareCheck" name="soft_hardware">
                  <label  class="form-check-label"
                          for="soft_hardwareCheck">
                          5. Компьютерное оборудование и программное обеспечение
                  </label>
                </div>
                <!-- 6 electro-->
                <div class="form-check text-left">
                  <input  type="checkbox"
                          class="form-check-input"
                          id="electroCheck"
                          name="electro">
                  <label  class="form-check-label"
                          for="electroCheck" >
                          6. Электротехника</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-secondary btn-block  mt-4" type="submit"> Найти </button>
      </form>
      </div>
    </div>
  </div>
</section>

{% if listings %}
  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">
              <i class="fas fa-home"></i> Главная   </a>
          </li>
          {% comment %} <li class="breadcrumb-item">
            <a href="{% url 'simple_search' %}">Простой поиск</a>
          </li> {% endcomment %}
          <li class="breadcrumb-item active"> Расширенный поиск</li>
        </ol>
      </nav>
    </div>
  </section>


  <!-- Table of results -->
  <section id="listings" class="py-4">
  <div class="container">
  {% comment %} {% if listings %} {% endcomment %}
  <h2>Актуальные тендеры</h2>
  <table class="table table-hover thead-dark  table-responsive">
    <thead>
      <tr>
        <th>Описание предмета закупки</th>
        <th>Номер</th>
        <th>Заказчик/организатор</th>
        <th style="text-align:center">Стоимость, BYN</th>
        <th style="text-align:center">Прием предложений до:</th>
        <th style="text-align:center">Побробности</th>
      </tr>
    </thead>
    <tbody>
      {% for tender in listings.object_list  %}
        <tr>
          <td>{{ tender.description|truncatechars:150}}</td>
          <td>{{ tender.number }}</td>
          <td>{{ tender.customer }}</td>
          <td>{{ tender.price }}</td>
          <td>{{ tender.deadline }}</td>
          <td><a href="{{ tender.url_addr }}" target="_blank">Подробно</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}
      <div class="col-md-6">
        <p>Таких заявок нет</p>
      </div>
  {% endif %}
</div>

<!--pagination-->
   <div class="row">
    <div class="col-md-12">
    {% if listings.has_other_pages %}
      <ul class="pagination">
        {% if listings.has_previouse %}
            <li class="page-item"><a href="?page={{listings.previous_page_number}}" class="page-link">&laquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link">&laquo;</a></li>
        {% endif %}

        {% for i in listings.paginator.page_range %}
            {% if listings.number == i %}
              <li class="page-item active"><a class="page-link">{{ i }}</a></li>
            {% else %}
              <li class="page-item"><a href="?page={{i}}{{last_query}}" class="page-link">{{i}}</a></li>
            {% endif %}
        {% endfor %}
        {% if listings.has_next %}
      <li><a class="page-link" href="?page={{ listings.next_page_number }}{{last_query}}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><a class="page-link">&raquo;</a></li>
    {% endif %}
      </ul>
    {% endif %}
   </div>
 </div>
{% endblock content %}
