{% extends 'base.html' %}
{% load humanize %}
{% load static %}


{% block title %} Главная {% endblock title %}
{% block content %}

<!-- Showcase -->
<section id="showcase">
  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 class="display-4 mb-4">
          Тендеры, аукционы, торги
        </h1>
        <p class="lead"> Мониторинг официальных закупок и тендеров в Беларуси.
        Поиск и подбор актуальной информации</p>
        <div class="search">

          <form action="{% url 'simple_search' %}">
            <div class="form-row">
              <div class="col-md-12 ">
                <label class="sr-only">Keywords</label>
                <input type="text" name="keywords" class="form-control" placeholder=
                "Поиск по предмету закупки. Например: вентиляция, сервер, бумага ...">
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">Найти</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
    <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">

          <li class="breadcrumb-item active"><i class="fas fa-home" > </i> Главная </li>

        </ol>
      </nav>
    </div>
  </section>

<section id="about" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row">
        <div class="col">
          <h2>Мы анализируем и поставляем информацию</h2>
          <p class="lead">Добро пожаловать в ТендерМонитор — сервис по мониторингу и подбору информации по тендерам и закупкам.</p>

          <p class="lead"><b>Порядка 8000 актуальных тендеров и запросов </b> - это ежедневное количество заявок на поставку товаров и услуг, которые ожидают своего исполнителя. Заявки представляют собой официальное объявленные процедуры закупок от компаний и организаций различных форм собственности, а также государственных структур.</p>

          <p class="lead">Наш сервис проводит постоянный мониторинг тендеров на территории Беларуси и у вас всегда есть возможность и получить полнейую и актуальную информацию о конкурсных торгах и тендерах в Беларуси. Особенно интересна возможность получения информации о закупках в интересующей вас области, например, Вы можете получать свежую информацию о закупках в интересующей вас области: <b>"Строительство", "Вентиляция и кондиционирование", "Информационные технологии, компьютеры и оборудование"</p>

          <p class="lead">Воспользуйтесь формой поиска и подберите необходимую вам информацию по отраслям или ключевым словам!</p>
        </div>
      </div>
    </div>
  </section>

<!-- Listings -->
<section id="listings" class="py-5">

  <div class="container">
    <h3 class="text-left mb-3">Последние объявления</h3>

        {% if tenders_list %}
        <div class="row">
          {% for tender in tenders_list %}
              <div class="col-sm-6">
                <div class="card my-card">
                  <div class="card-body">
                    <h5 class="card-title"> № {{tender.number}}</h5>
                    <hr>
                    {% if tender.price != '0'%}
                      <p class="card-text">Начальная стоимость: <b>{{tender.price}} BYN</b></p>
                    {% endif %}
                    <p class="card-text">Заказчик: {{tender.customer|truncatechars:50}}</p>
                    <p class="card-text">Описание заявки: {{tender.description|truncatechars:250}}</p>
                    <p class="card-text">Срок подачи предложений: {{tender.deadline}}</p>
                    <a href="{{ tender.url_addr }}" target="_blank" class="btn btn-primary">Подробности...</a>
                  </div>
                </div>
              </div>
          {% endfor %}
          </div>

        {% else %}
          <div class="col-md-12">
            <p> Таких закупок нет </p>
          </div>
        {% endif %}
    </div>
  </section>
</section>
<!-- Listings -->

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fas fa-comment fa-4x mr-4"></i>
        <hr>

        <h3>Постоянный мониторинг</h3>
        <p>Тендер монитор производит мониторинг всех республиканских и отраслевых источников информации о проведении конкурсных закупок и тендерных торгов.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-comment fa-4x mr-4"></i>
        <hr>
        <h3>Информация по отраслям</h3>
        <p>Сервис позволяет производить поиск заявок по отраслям и тематическим закупкам. Соответственно, если вы работаете в области строительства или безопасности, вы получите информацию по закупкам только в этих областях.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-comment fa-4x mr-4"></i>
        <hr>
        <h3>Удобный поиск</h3>
        <p>Если стандартного поиска вам недостаточно, то вы можете воспользоваться расширенным поиском, который поможет вам получить информацию по официальному номеру заявки, наименованию организатора, просмотреть актуальные или архивные конкурсы.</p>
      </div>
    </div>
  </div>

</section>

{% endblock content %}
