{% extends 'base.html' %}
{% load humanize %}
{% load static %}


{% block title %} Главная {% endblock title %}
{% block content %}

<!-- Showcase -->
<section id="showcase">
  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 class="display-4 mb-4">
          Тендеры, аукционы, торги
        </h1>
        <p class="lead"> Мониторинг официальных закупок и тендеров в Беларуси.
        Поиск и подбор актуальной информации</p>
        <div class="search">

          <form action="{% url 'simple_search' %}">
            <div class="form-row">
              <div class="col-md-11 ">
                <label class="sr-only">Keywords</label>
                <input type="text" name="keywords" class="form-control" placeholder=
                "Поиск по предмету закупки. Например: вентиляция, сервер, бумага ...">
              </div>

              <button class="btn btn-secondary mt-6" type="submit"> Найти </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
    <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          {% comment %} <li class="breadcrumb-item">
            <a href="{% url 'home' %}">
              <i class="fas fa-home"></i> Главная</a>
          </li> {% endcomment %}
          <li class="breadcrumb-item active"> Главная</li>
        </ol>
      </nav>
    </div>
  </section>
<main>
  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Мы анализируем и поставляем информацию</h2>
          <p class="lead">Добро пожаловать в ТендерМонитор — сервис по мониторингу и подбору информации по тендерам и закупкам.</p>

          <p class="lead"><b>Порядка 8000 актуальных тендеров и запросов </b> - это ежедневное количество заявок на поставку товаров и услуг, которые ожидают своего исполнителя. Заявки представляют собой официальное объявленные процедуры закупок от компаний и организаций различных форм собственности, а также государственных структур.</p>

          <p class="lead">Наш сервис проводит постоянный мониторинг тендеров на территории Беларуси и у вас всегда есть возможность и получить полнейую и актуальную информацию о конкурсных торгах и тендерах в Беларуси. Особенно интересна возможность получения информации о закупках в интересующей вас области, например, Вы можете получать свежую информацию о закупках в интересующей вас области: <b>"Строительство", "Вентиляция и кондиционирование", "Информационные технологии, компьютеры и оборудование"</b> и т.д. (См. расширенный поиск).</p>

          <p class="lead">Воспользуйтесь формой поиска и подберите необходимую вам информацию по отраслям или ключевым словам!</p>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- Listings -->
<section id="listings" class="py-5">

  <div class="container">
    <h3 class="text-left mb-3">Последние объявления</h3>

        {% if tenders_list %}
        <div class="row">
          {% for tender in tenders_list %}
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"> № {{tender.number}}</h5>
                    <hr>
                    {% if tender.price != '0'%}
                      <p class="card-text">Стоимость: <b>{{tender.price}} BYN</b></p>
                    {% endif %}
                    <p class="card-text">Заказчик: {{tender.customer|truncatechars:50}}</p>
                    <p class="card-text">Заявка: {{tender.description|truncatechars:250}}</p>
                    <p class="card-text">Актуально до: {{tender.deadline}}</p>
                    <a href="{{ tender.url_addr }}" target="_blank" class="btn btn-primary">Подробнее</a>
                  </div>
                </div>
              </div>
          {% endfor %}
          </div>

        {% else %}
          <div class="col-md-12">
            <p> Таких закупок нет </p>
          </div>
        {% endif %}
    </div>
  </div>
</section>
<!-- Listings -->

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fas fa-comment fa-4x mr-4"></i>
        <hr>
        <h3>Постоянный мониторинг</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur hic dignissimos ratione ea quae.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-home fa-4x mr-4"></i>
        <hr>
        <h3>Информация по отраслям</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur hic dignissimos ratione ea quae.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-suitcase fa-4x mr-4"></i>
        <hr>
        <h3>Удобный расширенный поиск</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur ic dignissimos ratione ea quae.</p>
      </div>
    </div>
  </div>

</section>
<!--
  <div class="pt-5 bg-primary text-white text-center">
    <p> Тестовый блок </p>
    {% comment %} <img src="https://cdn.pixabay.com/photo/2017/07/01/19/48/background-2462431_960_720.jpg"> {% endcomment %}
  </div>
-->
{% endblock content %}
