<!-- templates/about.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}TenderMonitor coding workflow{% endblock title %}

{% block content %}

  <section id="showcase-workflow" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Как разрабатывался TenderMonitor</h1>
          <p class="lead">Django | Django REST API | PostgreSQL | Scrapy | Redis+Celery | Bootstrap  </p>

        </div>
      </div>
    </div>
  </section>
  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">
              <i class="fas fa-home"></i> Главная   </a>
          </li>
          {% comment %} <li class="breadcrumb-item">
            <a href="{% url 'simple_search' %}">Простой поиск</a>
          </li> {% endcomment %}
          <li class="breadcrumb-item active"> Workflow </li>
        </ol>
      </nav>
    </div>
  </section>

<div class="container">
    <div class="row">
        <div class="col">
            <h2> Как работает </h2>
            <p class="lead">ТендерМонитор разрабатывался как учебный проект, хотя задачи решает вполне реальные. Сервис собирает доступные публичные данные об объявленных тендерах в интернет, формирует и обновляет базу данных, выдает информацию из базы данных по простым и сложным запросам. Была попытка сделать подбор информации по отраслям экономики путем анализа ключевых понятий, характерных для соответсвующей области, но отвергнута как очень ресурсоемкая задача. В настоящее время  поиск реализован через фильтрацию по ключевым словам в соответствующих полях БД.</p>

          <h2> Какие технологии задействованы </h2>
          <p class="lead"> В проекте задействованы <em>Django, Django Rest Framework, Python</em> - для построения бэкэнда. В качестве базы данных используется <em>PostgreSQL</em>, для сбора данных и пополнения базы данных применен фреймворк <em>Scrapy</em>. Задачи по обновлению БД запускаются в фоне по расписанию. Для решения этих задач использовались <em>Redis и Celery</em>.<p>
           <p class="lead">К сервису можно получить доступ, как через API по адресу: <a href="https://tender-ms.herokuapp.com/api/v1/"> https://tender-ms.herokuapp.com/api/v1/</a>
           <br>Наличие API позволяет "прикрутить" к сервису любой фронт или использовать его в мобильном приложении.
           <br>Получить доступ к обычному html варианту можно по адресу: <a href="https://tender-ms.herokuapp.com"> https://tender-ms.herokuapp.com</a>.
           <br>В качестве рабочего варианта сделан фронт с помощью <em>Bootstrap</em>.</p>

          <p class="lead"> <i class="fab fa-github"></i> Ознакомится с кодом проекта можно на <a href="https://github.com/caravan4eg/monitor2">github </a></p>

          <h2>Этапы написания кода</h2>
            <ul>

                <li>+ Make Django Web server</li>
                <li>+ Create models at django_app/models.py </li>
                <li>+ Create Admin interface, superuser </li>
                <li>+ Install PostgreSQL </li>
                <li>+ Config Postgresql database in settings.py </li>
                <li>+ Change home.html to display Tender list from the database via an HTML page</li>
                <li>+ Create Web API service. Make endpoints
                    <ul>
                        <li> + Install Django REST Framework - DRF</li>
                        <li> + Update django_project</li>
                        <li> + Create new applications to handle API</li>
                        <li> + Update django_project</li>
                        <li> + Create enpoints</li>
                        <li> + Make pagination</li>
                    </ul>
                </li>
                <li> + Tune up Scrapy Spider
                    <ul>
                        <li> + Install Scrapy</li>
                        <li> + Coding spiders</li>
                        <li> + Coding piplines </li>
                        <li> + Resolve proxy problems</li>
                        <li> + Analyse gathered data </li>
                        <li> + Write data to DB</li>
                    </ul>
                </li>

                <li> + Tune up backround task running </li>
                <ul>
                    <li> + Install and Config Celery and Redis</li>
                    <li> + Create celery.py and tasks.py
                    <li> + Create Celery -> touch django_project/celery.py</li>
                    <li> + Create task -> touch django_app/tasks.py</li>
                    <li> + Run shell, workers, redis-server</li>
                    <li> + Add celery.schedules to celery.py, run celery-beat</li>
                    <li> + Check periodic task </li>
                </ul>
                <li> + Create new_search branch for new search algorythm. </li>
                <li> + Changed search algorithm and implemented simple_search and extended_search by multiple criterias. </li>
                <li> + Extended search by keywords and categories added</li>
                <li> + Add Bootstrap front-end</li>
                <li> + Deploy to Heroku https://tender-ms.herokuapp.com </li>
                <li> <a href="https://tender-ms.herokuapp.com/">Here we are: TenderMonitor Service</a> </li>
            </ul>
        </div>
    </div>
</div>

{% endblock content %}
